.pagetitle{
    margin-bottom: 10px;
}
.pagetitle h1{
    font-size: 24px;
    margin-bottom: 0;
   font-weight: 600;  
    color: var(--primary);
    font-family: "Nunito", sans-serif;
}
.breadcrumb{
    font-size: 14px;
    font-family: "Nunito", sans-serif;
}
.breadcrumb a{
    color: #899bbd;
    transition: 0.3s;
}
.breadcrumb .active{
    color: #51678f;
    font-weight: 600;
}