:root{
  scroll-behavior: smooth;
  --primary: #012970;
  --secondary: #4154f1;
  --grey: #899bbd;
  --bgColor: #f6f9ff;
  --green: #2eca6a;
  --lightGreen:#e0f8e9;
  --red:#ff771d;
  --lightRed: #ffecdf;
}
.logo {
  line-height: 1;
}
.logo img {
  max-height: 26px;
  margin-right: 6px;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
.logo span {
  font-size: 26px;
  font-weight: 700;
  color: var(--primary);
  font-family: "Nunito", sans-serif;
}
.card {
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
.card-body {
  padding: 0 20px 20px 20px;
}
.card-title {
  padding-top: 20px;
  font-weight: 500;
  color: var(--primary);
  font-family: "Poppins";
}
.error_404 {
  font-family: "Nunito", sans-serif;
}
.error_404 h1 {
  font-size: 180px;
  font-weight: 700;
  color:var(--secondary);
  margin-bottom: 0;
  line-height: 150px;
}
.error_404 h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 30px;
}
.error_404 .btn {
  background: #51678f;
  color: #fff;
  padding: 8px 30px;
}
.error_404 .btn:hover {
  background-color: #3f506e;
}
@media (min-width: 992px) {
  .error_404 img {
    max-width: 50%;
  }
}
.nav-item {
  margin-bottom: 5px;
}
